.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 20px;
  width: 1000px;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 15px, 18px;
  border-collapse: collapse;
  border: 1px solid #000;
}

.styled-table tbody tr: :nth-of-type(even) {
  background-color: #f3f3f3;
}
