.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 20px;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.styled-table th,
.styled-table td {
  padding: 15px, 18px;
  border-collapse: collapse;
  border: 1px solid #000;
}

.styled-table tbody tr: :nth-of-type(even) {
  background-color: #f3f3f3;
}

.search-box {
  margin: auto;
  top: 40%;
  height: auto;
  width: 100%;
}

input {
  border: 3px solid ##eafff1;
  height: 40px;
  width: 600px;
  border-radius: 50px;
  padding: 0px 10px;
  margin: auto;
  display: block;
}

.ordered {
  width: 25%;
  float: left;
  margin-left: 25%;
}

.unordered {
  width: 25%;
  float: right;
  margin-right: 25%;
}
